<h3> Instructions </h3>
<br>
<p>1. Open the notebook file that needs to be copied and edited.<br>
2. Go to the "File" tab in the notebook's menu bar.<br>
3. Select "Save to Drive" to create a copy of the notebook in your own Google Drive.<br>
4. Once the notebook is saved to your Drive, open it for editing.<br>
<br>
To work on the exercises in the notebook, follow these steps:<br>
1. Read the instructions and explanations provided for each exercise carefully<br>
2. Write your code solutions for each exercise in the designated code cells.<br>
3. Download the dataset (.csv file) shared in the folder and upload it to the colab session.<br>

Important Note: It is recommended to read and understand the exercises thoroughly, as questions related to this assignment may be asked in a quiz.</p>

 ## Welcome To The Week1 Assignment
 
#### In this assignment we will analyze the Titanic dataset with the help of pandas <br>

![Titanic](https://akm-img-a-in.tosshub.com/indiatoday/images/story/201506/bil0510_rms-titanic_647_060515043509.jpg?size=1200:675)

`Note: You will be asked various question from this assignment in the Google Form, and also you need to submit this notebook. So Kindly maintain this Notebook Properly`

### 1) Start this assignment by importing all the important Libraries
for eg. import pandas as pd

In [1]:
import pandas as pd
import numpy as np

### 2) Read the csv file and assign it to a variable

Note: Download the titanic.csv file from the google drive, and place it in the folder same as this notebook

In [2]:
df=pd.read_csv('titanic.csv')

#### Display the first 5 entries of DataFrame
Hint: use head() function

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

#### Display the last 5 entries of DataFrame
Hint: use tail() function

In [4]:
df.tail(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

### 3) Display the shape of the Dataframe

In [5]:
df.shape

(418, 12)

### 4) Print all the columns of the Dataframe

In [6]:
column_names = df.columns.tolist()
print(column_names)

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

About Data:<br>
__PassangerId__: Passanger Number<br>
__Survived__: Dead(0), Alive(1)<br>
__PClass__: Class in which the passenger is travelling<br>
__Name__: Name of the Passenger<br>
__Sex__: Male,Female<br>
__Age__: Age of the passenger<br>
__SibSp__: Number of siblings<br>
__Parch__: # of siblings / spouses aboard the Titanic<br>
__Ticket__: Ticket number<br>
__Fare__: Passenger Fare<br>
__Cabin__: Cabin number<br>
__Embarked__: Port of Embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)<br>

### 5) Print the unique values in each column

In [7]:
for column in df.columns:
    unique_values = df[column].unique()
    #print(f"Unique values in column '{column}':")
    print(unique_values)
    print()

[ 892  893  894  895  896  897  898  899  900  901  902  903  904  905
  906  907  908  909  910  911  912  913  914  915  916  917  918  919
  920  921  922  923  924  925  926  927  928  929  930  931  932  933
  934  935  936  937  938  939  940  941  942  943  944  945  946  947
  948  949  950  951  952  953  954  955  956  957  958  959  960  961
  962  963  964  965  966  967  968  969  970  971  972  973  974  975
  976  977  978  979  980  981  982  983  984  985  986  987  988  989
  990  991  992  993  994  995  996  997  998  999 1000 1001 1002 1003
 1004 1005 1006 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017
 1018 1019 1020 1021 1022 1023 1024 1025 1026 1027 1028 1029 1030 1031
 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 1044 1045
 1046 1047 1048 1049 1050 1051 1052 1053 1054 1055 1056 1057 1058 1059
 1060 1061 1062 1063 1064 1065 1066 1067 1068 1069 1070 1071 1072 1073
 1074 1075 1076 1077 1078 1079 1080 1081 1082 1083 1084 1085 1086 1087
 1088 1089 1090 1091 1092 1093 1094 1095 1096 1097 1098 1099 1100 1101
 1102 1103 1104 1105 1106 1107 1108 1109 1110 1111 1112 1113 1114 1115
 1116 1117 1118 1119 1120 1121 1122 1123 1124 1125 1126 1127 1128 1129
 1130 1131 1132 1133 1134 1135 1136 1137 1138 1139 1140 1141 1142 1143
 1144 1145 1146 1147 1148 1149 1150 1151 1152 1153 1154 1155 1156 1157
 1158 1159 1160 1161 1162 1163 1164 1165 1166 1167 1168 1169 1170 1171
 1172 1173 1174 1175 1176 1177 1178 1179 1180 1181 1182 1183 1184 1185
 1186 1187 1188 1189 1190 1191 1192 1193 1194 1195 1196 1197 1198 1199
 1200 1201 1202 1203 1204 1205 1206 1207 1208 1209 1210 1211 1212 1213
 1214 1215 1216 1217 1218 1219 1220 1221 1222 1223 1224 1225 1226 1227
 1228 1229 1230 1231 1232 1233 1234 1235 1236 1237 1238 1239 1240 1241
 1242 1243 1244 1245 1246 1247 1248 1249 1250 1251 1252 1253 1254 1255
 1256 1257 1258 1259 1260 1261 1262 1263 1264 1265 1266 1267 1268 1269
 1270 1271 1272 1273 1274 1275 1276 1277 1278 1279 1280 1281 1282 1283
 1284 1285 1286 1287 1288 1289 1290 1291 1292 1293 1294 1295 1296 1297
 1298 1299 1300 1301 1302 1303 1304 1305 1306 1307 1308 1309]

[0 1]

[3 2 1]

['Kelly, Mr. James' 'Wilkes, Mrs. James (Ellen Needs)'
 'Myles, Mr. Thomas Francis' 'Wirz, Mr. Albert'
 'Hirvonen, Mrs. Alexander (Helga E Lindqvist)'
 'Svensson, Mr. Johan Cervin' 'Connolly, Miss. Kate'
 'Caldwell, Mr. Albert Francis'
 'Abrahim, Mrs. Joseph (Sophie Halaut Easu)' 'Davies, Mr. John Samuel'
 'Ilieff, Mr. Ylio' 'Jones, Mr. Charles Cresson'
 'Snyder, Mrs. John Pillsbury (Nelle Stevenson)' 'Howard, Mr. Benjamin'
 'Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)'
 'del Carlo, Mrs. Sebastiano (Argenia Genovesi)' 'Keane, Mr. Daniel'
 'Assaf, Mr. Gerios' 'Ilmakangas, Miss. Ida Livija'
 'Assaf Khalil, Mrs. Mariana (Miriam")"' 'Rothschild, Mr. Martin'
 'Olsen, Master. Artur Karl' 'Flegenheim, Mrs. Alfred (Antoinette)'
 'Williams, Mr. Richard Norris II'
 'Ryerson, Mrs. Arthur Larned (Emily Maria Borie)'
 'Robins, Mr. Alexander A' 'Ostby, Miss. Helene Ragnhild'
 'Daher, Mr. Shedid' 'Brady, Mr. John Bertram' 'Samaan, Mr. Elias'
 'Louch, Mr. Charles Alexander' 'Jefferys, Mr. Clifford Thomas'
 'Dean, Mrs. Bertram (Eva Georgetta Light)'
 'Johnston, Mrs. Andrew G (Elizabeth Lily" Watson)"'
 'Mock, Mr. Philipp Edmund'
 'Katavelas, Mr. Vassilios (Catavelas Vassilios")"' 'Roth, Miss. Sarah A'
 'Cacic, Miss. Manda' 'Sap, Mr. Julius' 'Hee, Mr. Ling' 'Karun, Mr. Franz'
 'Franklin, Mr. Thomas Parham' 'Goldsmith, Mr. Nathan'
 'Corbett, Mrs. Walter H (Irene Colvin)'
 'Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)'
 'Peltomaki, Mr. Nikolai Johannes' 'Chevre, Mr. Paul Romaine'
 'Shaughnessy, Mr. Patrick'
 'Bucknell, Mrs. William Robert (Emma Eliza Ward)'
 'Coutts, Mrs. William (Winnie Minnie" Treanor)"'
 'Smith, Mr. Lucien Philip' 'Pulbaum, Mr. Franz'
 'Hocking, Miss. Ellen Nellie""' 'Fortune, Miss. Ethel Flora'
 'Mangiavacchi, Mr. Serafino Emilio' 'Rice, Master. Albert'
 'Cor, Mr. Bartol' 'Abelseth, Mr. Olaus Jorgensen'
 'Davison, Mr. Thomas Henry' 'Chaudanson, Miss. Victorine'
 'Dika, Mr. Mirko' 'McCrae, Mr. Arthur Gordon'
 'Bjorklund, Mr. Ernst Herbert' 'Bradley, Miss. Bridget Delia'
 'Ryerson, Master. John Borie'
 'Corey, Mrs. Percy C (Mary Phyllis Elizabeth Miller)'
 'Burns, Miss. Mary Delia' 'Moore, Mr. Clarence Bloomfield'
 'Tucker, Mr. Gilbert Milligan Jr' 'Fortune, Mrs. Mark (Mary McDougald)'
 'Mulvihill, Miss. Bertha E' 'Minkoff, Mr. Lazar'
 'Nieminen, Miss. Manta Josefina' 'Ovies y Rodriguez, Mr. Servando'
 'Geiger, Miss. Amalie' 'Keeping, Mr. Edwin' 'Miles, Mr. Frank'
 'Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)'
 'Aldworth, Mr. Charles Augustus' 'Doyle, Miss. Elizabeth'
 'Boulos, Master. Akar' 'Straus, Mr. Isidor' 'Case, Mr. Howard Brown'
 'Demetri, Mr. Marinko' 'Lamb, Mr. John Joseph' 'Khalil, Mr. Betros'
 'Barry, Miss. Julia' 'Badman, Miss. Emily Louisa'
 "O'Donoghue, Ms. Bridget" 'Wells, Master. Ralph Lester'
 'Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judith Andersson)'
 'Pedersen, Mr. Olaf' 'Davidson, Mrs. Thornton (Orian Hays)'
 'Guest, Mr. Robert' 'Birnbaum, Mr. Jakob' 'Tenglin, Mr. Gunnar Isidor'
 'Cavendish, Mrs. Tyrell William (Julia Florence Siegel)'
 'Makinen, Mr. Kalle Edvard' 'Braf, Miss. Elin Ester Maria'
 'Nancarrow, Mr. William Henry'
 'Stengel, Mrs. Charles Emil Henry (Annie May Morris)'
 'Weisz, Mr. Leopold' 'Foley, Mr. William'
 'Johansson Palmquist, Mr. Oskar Leander'
 'Thomas, Mrs. Alexander (Thamine Thelma")"' 'Holthen, Mr. Johan Martin'
 'Buckley, Mr. Daniel' 'Ryan, Mr. Edward'
 'Willer, Mr. Aaron (Abi Weller")"' 'Swane, Mr. George'
 'Stanton, Mr. Samuel Ward' 'Shine, Miss. Ellen Natalia'
 'Evans, Miss. Edith Corse' 'Buckley, Miss. Katherine'
 'Straus, Mrs. Isidor (Rosalie Ida Blun)' 'Chronopoulos, Mr. Demetrios'
 'Thomas, Mr. John' 'Sandstrom, Miss. Beatrice Irene'
 'Beattie, Mr. Thomson' 'Chapman, Mrs. John Henry (Sara Elizabeth Lawry)'
 'Watt, Miss. Bertha J' 'Kiernan, Mr. John'
 'Schabert, Mrs. Paul (Emma Mock)' 'Carver, Mr. Alfred John'
 'Kennedy, Mr. John' 'Cribb, Miss. Laura Alice' 'Brobeck, Mr. Karl Rudolf'
 'McCoy, Miss. Alicia' 'Bowenur, Mr. Solomon' 'Petersen, Mr. Marius'
 'Spinner, Mr. Henry John' 'Gracie, Col. Archibald IV'
 'Lefebre, Mrs. Frank (Frances)' 'Thomas, Mr. Charles P'
 'Dintcheff, Mr. Valtcho' 'Carlsson, Mr. Carl Robert'
 'Zakarian, Mr. Mapriededer' 'Schmidt, Mr. August' 'Drapkin, Miss. Jennie'
 'Goodwin, Mr. Charles Frederick' 'Goodwin, Miss. Jessie Allis'
 'Daniels, Miss. Sarah' 'Ryerson, Mr. Arthur Larned'
 'Beauchamp, Mr. Henry James'
 'Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lingrey")"'
 'Vander Planke, Mr. Julius' 'Hilliard, Mr. Herbert Henry'
 'Davies, Mr. Evan' 'Crafton, Mr. John Bertram' 'Lahtinen, Rev. William'
 'Earnshaw, Mrs. Boulton (Olive Potter)' 'Matinoff, Mr. Nicola'
 'Storey, Mr. Thomas' 'Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)'
 'Asplund, Master. Filip Oscar' 'Duquemin, Mr. Joseph' 'Bird, Miss. Ellen'
 'Lundin, Miss. Olga Elida' 'Borebank, Mr. John James'
 'Peacock, Mrs. Benjamin (Edith Nile)' 'Smyth, Miss. Julia'
 'Touma, Master. Georges Youssef' 'Wright, Miss. Marion'
 'Pearce, Mr. Ernest' 'Peruschitz, Rev. Joseph Maria'
 'Kink-Heilmann, Mrs. Anton (Luise Heilmann)' 'Brandeis, Mr. Emil'
 'Ford, Mr. Edward Watson'
 'Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)'
 'Hellstrom, Miss. Hilda Maria' 'Lithman, Mr. Simon' 'Zakarian, Mr. Ortin'
 'Dyker, Mr. Adolf Fredrik' 'Torfa, Mr. Assad'
 'Asplund, Mr. Carl Oscar Vilhelm Gustafsson' 'Brown, Miss. Edith Eileen'
 'Sincock, Miss. Maude' 'Stengel, Mr. Charles Emil Henry'
 'Becker, Mrs. Allen Oliver (Nellie E Baumgardner)'
 'Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)'
 'McCrie, Mr. James Matthew' 'Compton, Mr. Alexander Taylor Jr'
 'Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)'
 'Lane, Mr. Patrick'
 'Douglas, Mrs. Frederick Charles (Mary Helene Baxter)'
 'Maybery, Mr. Frank Hubert' 'Phillips, Miss. Alice Frances Louisa'
 'Davies, Mr. Joseph' 'Sage, Miss. Ada' 'Veal, Mr. James'
 'Angle, Mr. William A' 'Salomon, Mr. Abraham L'
 'van Billiard, Master. Walter John' 'Lingane, Mr. John'
 'Drew, Master. Marshall Brines' 'Karlsson, Mr. Julius Konrad Eugen'
 'Spedden, Master. Robert Douglas' 'Nilsson, Miss. Berta Olivia'
 'Baimbrigge, Mr. Charles Robert'
 'Rasmussen, Mrs. (Lena Jacobsen Solvang)' 'Murphy, Miss. Nora'
 'Danbom, Master. Gilbert Sigvard Emanuel' 'Astor, Col. John Jacob'
 'Quick, Miss. Winifred Vera' 'Andrew, Mr. Frank Thomas'
 'Omont, Mr. Alfred Fernand' 'McGowan, Miss. Katherine'
 'Collett, Mr. Sidney C Stuart' 'Rosenbaum, Miss. Edith Louise'
 'Delalic, Mr. Redjo' 'Andersen, Mr. Albert Karvin' 'Finoli, Mr. Luigi'
 'Deacon, Mr. Percy William'
 'Howard, Mrs. Benjamin (Ellen Truelove Arman)'
 'Andersson, Miss. Ida Augusta Margareta' 'Head, Mr. Christopher'
 'Mahon, Miss. Bridget Delia' 'Wick, Mr. George Dennick'
 'Widener, Mrs. George Dunton (Eleanor Elkins)'
 'Thomson, Mr. Alexander Morrison' 'Duran y More, Miss. Florentina'
 'Reynolds, Mr. Harold J' 'Cook, Mrs. (Selena Rogers)'
 'Karlsson, Mr. Einar Gervasius'
 'Candee, Mrs. Edward (Helen Churchill Hungerford)'
 'Moubarek, Mrs. George (Omine Amenia" Alexander)"'
 'Asplund, Mr. Johan Charles' 'McNeill, Miss. Bridget'
 'Everett, Mr. Thomas James' 'Hocking, Mr. Samuel James Metcalfe'
 'Sweet, Mr. George Frederick' 'Willard, Miss. Constance'
 'Wiklund, Mr. Karl Johan' 'Linehan, Mr. Michael'
 'Cumings, Mr. John Bradley' 'Vendel, Mr. Olof Edvin'
 'Warren, Mr. Frank Manley' 'Baccos, Mr. Raffull' 'Hiltunen, Miss. Marta'
 'Douglas, Mrs. Walter Donald (Mahala Dutton)'
 'Lindstrom, Mrs. Carl Johan (Sigrid Posse)'
 'Christy, Mrs. (Alice Frances)' 'Spedden, Mr. Frederic Oakley'
 'Hyman, Mr. Abraham' 'Johnston, Master. William Arthur Willie""'
 'Kenyon, Mr. Frederick R' 'Karnes, Mrs. J Frank (Claire Bennett)'
 'Drew, Mr. James Vivian' 'Hold, Mrs. Stephen (Annie Margaret Hill)'
 'Khalil, Mrs. Betros (Zahie Maria" Elias)"' 'West, Miss. Barbara J'
 'Abrahamsson, Mr. Abraham August Johannes' 'Clark, Mr. Walter Miller'
 'Salander, Mr. Karl Johan' 'Wenzel, Mr. Linhart'
 'MacKay, Mr. George William' 'Mahon, Mr. John' 'Niklasson, Mr. Samuel'
 'Bentham, Miss. Lilian W' 'Midtsjo, Mr. Karl Albert'
 'de Messemaeker, Mr. Guillaume Joseph' 'Nilsson, Mr. August Ferdinand'
 'Wells, Mrs. Arthur Henry (Addie" Dart Trevaskis)"'
 'Klasen, Miss. Gertrud Emilia' 'Portaluppi, Mr. Emilio Ilario Giuseppe'
 'Lyntakoff, Mr. Stanko' 'Chisholm, Mr. Roderick Robert Crispin'
 'Warren, Mr. Charles William' 'Howard, Miss. May Elizabeth'
 'Pokrnic, Mr. Mate' 'McCaffry, Mr. Thomas Francis' 'Fox, Mr. Patrick'
 'Clark, Mrs. Walter Miller (Virginia McDowell)' 'Lennon, Miss. Mary'
 'Saade, Mr. Jean Nassr' 'Bryhl, Miss. Dagmar Jenny Ingeborg '
 'Parker, Mr. Clifford Richard' 'Faunthorpe, Mr. Harry'
 'Ware, Mr. John James' 'Oxenham, Mr. Percy Thomas'
 'Oreskovic, Miss. Jelka' 'Peacock, Master. Alfred Edward'
 'Fleming, Miss. Honora' 'Touma, Miss. Maria Youssef'
 'Rosblom, Miss. Salli Helena' 'Dennis, Mr. William'
 'Franklin, Mr. Charles (Charles Fardon)' 'Snyder, Mr. John Pillsbury'
 'Mardirosian, Mr. Sarkis' 'Ford, Mr. Arthur'
 'Rheims, Mr. George Alexander Lucien'
 'Daly, Miss. Margaret Marcella Maggie""' 'Nasr, Mr. Mustafa'
 'Dodge, Dr. Washington' 'Wittevrongel, Mr. Camille'
 'Angheloff, Mr. Minko' 'Laroche, Miss. Louise' 'Samaan, Mr. Hanna'
 'Loring, Mr. Joseph Holland' 'Johansson, Mr. Nils'
 'Olsson, Mr. Oscar Wilhelm' 'Malachard, Mr. Noel'
 'Phillips, Mr. Escott Robert' 'Pokrnic, Mr. Tome'
 'McCarthy, Miss. Catherine Katie""'
 'Crosby, Mrs. Edward Gifford (Catherine Elizabeth Halstead)'
 'Allison, Mr. Hudson Joshua Creighton' 'Aks, Master. Philip Frank'
 'Hays, Mr. Charles Melville' 'Hansen, Mrs. Claus Peter (Jennie L Howard)'
 'Cacic, Mr. Jego Grga' 'Vartanian, Mr. David' 'Sadowitz, Mr. Harry'
 'Carr, Miss. Jeannie' 'White, Mrs. John Stuart (Ella Holmes)'
 'Hagardon, Miss. Kate' 'Spencer, Mr. William Augustus'
 'Rogers, Mr. Reginald Harry' 'Jonsson, Mr. Nils Hilding'
 'Jefferys, Mr. Ernest Wilfred' 'Andersson, Mr. Johan Samuel'
 'Krekorian, Mr. Neshan' 'Nesson, Mr. Israel' 'Rowe, Mr. Alfred G'
 'Kreuchen, Miss. Emilie' 'Assam, Mr. Ali' 'Becker, Miss. Ruth Elizabeth'
 'Rosenshine, Mr. George (Mr George Thorne")"'
 'Clarke, Mr. Charles Valentine' 'Enander, Mr. Ingvar'
 'Davies, Mrs. John Morgan (Elizabeth Agnes Mary White) '
 'Dulles, Mr. William Crothers' 'Thomas, Mr. Tannous'
 'Nakid, Mrs. Said (Waika Mary" Mowad)"' 'Cor, Mr. Ivan'
 'Maguire, Mr. John Edward' 'de Brito, Mr. Jose Joaquim'
 'Elias, Mr. Joseph' 'Denbury, Mr. Herbert' 'Betros, Master. Seman'
 'Fillbrook, Mr. Joseph Charles' 'Lundstrom, Mr. Thure Edvin'
 'Sage, Mr. John George'
 'Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)'
 'van Billiard, Master. James William' 'Abelseth, Miss. Karen Marie'
 'Botsford, Mr. William Hull'
 'Whabee, Mrs. George Joseph (Shawneene Abi-Saab)' 'Giles, Mr. Ralph'
 'Walcroft, Miss. Nellie' 'Greenfield, Mrs. Leo David (Blanche Strouse)'
 'Stokes, Mr. Philip Joseph' 'Dibden, Mr. William' 'Herman, Mr. Samuel'
 'Dean, Miss. Elizabeth Gladys Millvina""' 'Julian, Mr. Henry Forbes'
 'Brown, Mrs. John Murray (Caroline Lane Lamson)' 'Lockyer, Mr. Edward'
 "O'Keefe, Mr. Patrick"
 'Lindell, Mrs. Edvard Bengtsson (Elin Gerda Persson)'
 'Sage, Master. William Henry' 'Mallet, Mrs. Albert (Antoinette Magnin)'
 'Ware, Mrs. John James (Florence Louise Long)' 'Strilic, Mr. Ivan'
 'Harder, Mrs. George Achilles (Dorothy Annan)'
 'Sage, Mrs. John (Annie Bullen)' 'Caram, Mr. Joseph'
 'Riihivouri, Miss. Susanna Juhantytar Sanni""'
 'Gibson, Mrs. Leonard (Pauline C Boeson)' 'Pallas y Castello, Mr. Emilio'
 'Giles, Mr. Edgar' 'Wilson, Miss. Helen Alice' 'Ismay, Mr. Joseph Bruce'
 'Harbeck, Mr. William H' 'Dodge, Mrs. Washington (Ruth Vidaver)'
 'Bowen, Miss. Grace Scott' 'Kink, Miss. Maria'
 'Cotterill, Mr. Henry Harry""' 'Hipkins, Mr. William Edward'
 'Asplund, Master. Carl Edgar' "O'Connor, Mr. Patrick" 'Foley, Mr. Joseph'
 'Risien, Mrs. Samuel (Emma)' "McNamee, Mrs. Neal (Eileen O'Leary)"
 'Wheeler, Mr. Edwin Frederick""' 'Herman, Miss. Kate'
 'Aronsson, Mr. Ernst Axel Algot' 'Ashby, Mr. John' 'Canavan, Mr. Patrick'
 'Palsson, Master. Paul Folke' 'Payne, Mr. Vivian Ponsonby'
 'Lines, Mrs. Ernest H (Elizabeth Lindsey James)'
 'Abbott, Master. Eugene Joseph' 'Gilbert, Mr. William'
 'Kink-Heilmann, Mr. Anton'
 'Smith, Mrs. Lucien Philip (Mary Eloise Hughes)' 'Colbert, Mr. Patrick'
 'Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)'
 'Larsson-Rondberg, Mr. Edvard A' 'Conlon, Mr. Thomas Henry'
 'Bonnell, Miss. Caroline' 'Gale, Mr. Harry'
 'Gibson, Miss. Dorothy Winifred' 'Carrau, Mr. Jose Pedro'
 'Frauenthal, Mr. Isaac Gerald'
 'Nourney, Mr. Alfred (Baron von Drachstedt")"'
 'Ware, Mr. William Jeffery' 'Widener, Mr. George Dunton'
 'Riordan, Miss. Johanna Hannah""' 'Peacock, Miss. Treasteall'
 'Naughton, Miss. Hannah'
 'Minahan, Mrs. William Edward (Lillian E Thorpe)'
 'Henriksson, Miss. Jenny Lovisa' 'Spector, Mr. Woolf'
 'Oliva y Ocana, Dona. Fermina' 'Saether, Mr. Simon Sivertsen'
 'Ware, Mr. Frederick' 'Peter, Master. Michael J']

['male' 'female']

[34.5  47.   62.   27.   22.   14.   30.   26.   18.   21.     nan 46.
 23.   63.   24.   35.   45.   55.    9.   48.   50.   22.5  41.   33.
 18.5  25.   39.   60.   36.   20.   28.   10.   17.   32.   13.   31.
 29.   28.5  32.5   6.   67.   49.    2.   76.   43.   16.    1.   12.
 42.   53.   26.5  40.   61.   60.5   7.   15.   54.   64.   37.   34.
 11.5   8.    0.33 38.   57.   40.5   0.92 19.   36.5   0.75  0.83 58.
  0.17 59.   14.5  44.    5.   51.    3.   38.5 ]

[0 1 2 3 4 5 8]

[0 1 3 2 4 6 5 9]

['330911' '363272' '240276' '315154' '3101298' '7538' '330972' '248738'
 '2657' 'A/4 48871' '349220' '694' '21228' '24065' 'W.E.P. 5734'
 'SC/PARIS 2167' '233734' '2692' 'STON/O2. 3101270' '2696' 'PC 17603'
 'C 17368' 'PC 17598' 'PC 17597' 'PC 17608' 'A/5. 3337' '113509' '2698'
 '113054' '2662' 'SC/AH 3085' 'C.A. 31029' 'C.A. 2315' 'W./C. 6607'
 '13236' '2682' '342712' '315087' '345768' '1601' '349256' '113778'
 'SOTON/O.Q. 3101263' '237249' '11753' 'STON/O 2. 3101291' 'PC 17594'
 '370374' '11813' 'C.A. 37671' '13695' 'SC/PARIS 2168' '29105' '19950'
 'SC/A.3 2861' '382652' '349230' '348122' '386525' '349232' '237216'
 '347090' '334914' 'F.C.C. 13534' '330963' '113796' '2543' '382653'
 '349211' '3101297' 'PC 17562' '113503' '359306' '11770' '248744' '368702'
 '2678' 'PC 17483' '19924' '349238' '240261' '2660' '330844' 'A/4 31416'
 '364856' '29103' '347072' '345498' 'F.C. 12750' '376563' '13905' '350033'
 '19877' 'STON/O 2. 3101268' '347471' 'A./5. 3338' '11778' '228414'
 '365235' '347070' '2625' 'C 4001' '330920' '383162' '3410' '248734'
 '237734' '330968' 'PC 17531' '329944' '2680' '2681' 'PP 9549' '13050'
 'SC/AH 29037' 'C.A. 33595' '367227' '392095' '368783' '371362' '350045'
 '367226' '211535' '342441' 'STON/OQ. 369943' '113780' '4133' '2621'
 '349226' '350409' '2656' '248659' 'SOTON/OQ 392083' 'CA 2144' '113781'
 '244358' '17475' '345763' '17463' 'SC/A4 23568' '113791' '250651' '11767'
 '349255' '3701' '350405' '347077' 'S.O./P.P. 752' '347469' '110489'
 'SOTON/O.Q. 3101315' '335432' '2650' '220844' '343271' '237393' '315153'
 'PC 17591' 'W./C. 6608' '17770' '7548' 'S.O./P.P. 251' '2670' '2673'
 '29750' 'C.A. 33112' '230136' 'PC 17756' '233478' '113773' '7935'
 'PC 17558' '239059' 'S.O./P.P. 2' 'A/4 48873' 'CA. 2343' '28221' '226875'
 '111163' 'A/5. 851' '235509' '28220' '347465' '16966' '347066'
 'C.A. 31030' '65305' '36568' '347080' 'PC 17757' '26360' 'C.A. 34050'
 'F.C. 12998' '9232' '28034' 'PC 17613' '349250' 'SOTON/O.Q. 3101308'
 'S.O.C. 14879' '347091' '113038' '330924' '36928' '32302' 'SC/PARIS 2148'
 '342684' 'W./C. 14266' '350053' 'PC 17606' '2661' '350054' '370368'
 'C.A. 6212' '242963' '220845' '113795' '3101266' '330971' 'PC 17599'
 '350416' '110813' '2679' '250650' 'PC 17761' '112377' '237789' '3470'
 '17464' '26707' 'C.A. 34651' 'SOTON/O2 3101284' '13508' '7266' '345775'
 'C.A. 42795' 'AQ/4 3130' '363611' '28404' '345501' '345572' '350410'
 'C.A. 34644' '349235' '112051' 'C.A. 49867' 'A. 2. 39186' '315095'
 '368573' '370371' '2676' '236853' 'SC 14888' '2926' 'CA 31352'
 'W./C. 14260' '315085' '364859' '370129' 'A/5 21175' 'SOTON/O.Q. 3101314'
 '2655' 'A/5 1478' 'PC 17607' '382650' '2652' '33638' '345771' '349202'
 'SC/Paris 2123' '113801' '347467' '347079' '237735' '315092' '383123'
 '112901' '392091' '12749' '350026' '315091' '2658' 'LP 1588' '368364'
 'PC 17760' 'AQ/3. 30631' 'PC 17569' '28004' '350408' '347075' '2654'
 '244368' '113790' '24160' 'SOTON/O.Q. 3101309' 'PC 17585' '2003' '236854'
 'PC 17580' '2684' '2653' '349229' '110469' '244360' '2675' '2622'
 'C.A. 15185' '350403' 'PC 17755' '348125' '237670' '2688' '248726'
 'F.C.C. 13528' 'PC 17759' 'F.C.C. 13540' '113044' '11769' '1222' '368402'
 '349910' 'S.C./PARIS 2079' '315083' '11765' '2689' '3101295' '112378'
 'SC/PARIS 2147' '28133' '112058' '248746' '315152' '29107' '680' '366713'
 '330910' '364498' '376566' 'SC/PARIS 2159' '349911' '244346' '364858'
 '349909' 'PC 17592' 'C.A. 2673' 'C.A. 30769' '371109' '13567' '347065'
 '21332' '28664' '113059' '17765' 'SC/PARIS 2166' '28666' '334915'
 '365237' '19928' '347086' 'A.5. 3236' 'PC 17758' 'SOTON/O.Q. 3101262'
 '359309' '2668']

[  7.8292   7.       9.6875   8.6625  12.2875   9.225    7.6292  29.
   7.2292  24.15     7.8958  26.      82.2667  61.175   27.7208  12.35
   7.225    7.925   59.4      3.1708  31.6833  61.3792 262.375   14.5
  61.9792  30.5     21.6792  31.5     20.575   23.45    57.75     8.05
   9.5     56.4958  13.4167  26.55     7.85    13.      52.5542  29.7
   7.75    76.2917  15.9     60.      15.0333  23.     263.      15.5792
  29.125    7.65    16.1     13.5      7.725   21.       7.8792  42.4
  28.5375 211.5     25.7     15.2458 221.7792  10.7083  14.4542  13.9
   7.775   52.       7.7958  78.85     7.8542  55.4417   8.5167  22.525
   7.8208   8.7125  15.0458   7.7792  31.6792   7.2833   6.4375  16.7

### 6) Find the columns that has null values in them

Hint: You can use isnull() function

In [8]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
413,False,False,False,False,False,True,False,False,False,False,True,False
414,False,False,False,False,False,False,False,False,False,False,False,False
415,False,False,False,False,False,False,False,False,False,False,True,False
416,False,False,False,False,False,True,False,False,False,False,True,False
417,False,False,False,False,False,True,False,False,False,False,True,False

### 7) Show various statistics of all the numerical columns

Hint: Use describe()

In [9]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

### 8) Drop the column that has maximum null values and update the Dataframe

In [10]:
null_counts = df.isnull().sum()

# Step 2: Identify the column with the maximum number of null values
column_with_max_nulls = null_counts.idxmax()
column_with_max_nulls

# Step 3: Drop the column with the maximum null values from the DataFrame
df.drop(column_with_max_nulls, axis=1, inplace=True)

### 9) Display the data type of the remaining columns(use updated dataframe)

In [11]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

### 10) Display the sex ratio (female /male)
use value_counts()

In [12]:
gender_counts = df['Sex'].value_counts()
sex_ratio = gender_counts['female'] / gender_counts['male']
sex_ratio

0.5714285714285714

### 11) Find the number of people that Survived

In [13]:
survive_counts = df['Survived'].value_counts()
survive_counts

0    266
1    152
Name: Survived, dtype: int64

### 12) Find the person with maximum and minimum age
use .max() and .min() <br>
You need to print the row of the dataframe where the person with max and min age is present

In [14]:
max_age_passenger_id = df['PassengerId'].loc[df['Age'].idxmax()]
max_age_passenger_id

988

In [15]:
min_age_passenger_id = df['PassengerId'].loc[df['Age'].idxmin()]
min_age_passenger_id

1246

### 13) Find the number of Class 2 tickets sold

In [17]:
classtickets_counts = df['Pclass'].value_counts()
classtickets_counts

3    218
1    107
2     93
Name: Pclass, dtype: int64

### 14) Find the number of females who survived the crash

In [23]:
people_df = df[(df['Survived'] == 1) & (df['Sex'] =='female')]
people_df.shape[0]

152

### 15) Find the number of people who survived the crash and who paid fare less than 200

In [22]:
people_df = df[(df['Survived'] == 1) & (df['Fare'] < 200)]
people_df.shape[0]

140

### Extra Questions (Will not be considered for evaluation)

Try plotting different columns with each other, and see what inferences you can think about the dataset